NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_COMPANY_NAME=
NEXT_PUBLIC_COMPANY_WEBSITE=

#supabase public env
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

#site url
NEXT_PUBLIC_SITE_URL=

#supabase private env
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_AUTH_COOKIE_PASSWORD=

#turnstile
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
BYPASS_TURNSTILE=

# stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# aws SES
AWS_SECRET_ACCESS_KEY=
AWS_ACCESS_KEY_ID=
AWS_REGION=
#AWS_SES_CONFIGURATION_SET=
AWS_SES_FROM_EMAIL=
EMAIL_COMPANY=
EMAIL_SUPPORT=

#Google variables
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=